<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117972189-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-117972189-1');
    </script>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Λατομείο Πυργών ΛΤΔ"/>
    <meta name="robots" content="noindex, follow"/>
    <meta name="googlebot" content="noindex"/>
    <meta name="keywords" content="latouros,building,business,construction,pirga,pyrga,quarry,quarries,rock,diabase,building materials,mine,minerals,ltd,workshop,cyprus,cy,larnaca,limassol,nicosia,paphos"/>
    <title>Λατομείο Πυργών ΛΤΔ</title>
    <!-- Favicon and Touch Icons -->
    <link href="images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <!-- Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="css/animate.css" rel="stylesheet" type="text/css">
    <link href="css/css-plugin-collections.css" rel="stylesheet"/>
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-boxed.css" rel="stylesheet"/>
    <!-- CSS | Main style file -->
    <link href="css/style-main.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <!-- CSS | Theme Color -->
    <link href="css/colors/theme-skin-blue.css" rel="stylesheet" type="text/css">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
<body class="">
<div id="wrapper" class="clearfix">
    <!-- Header -->
    <header id="header" class="header">
        <div class="header-middle p-0 bg-lightest xs-text-center">
            <div class="container pt-0 pb-0">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-6">
                        <div class="widget no-border m-0">
                            <a class="menuzord-brand pull-left flip xs-pull-center mb-15" href="/">
                                <img src="images/lapyrgaheader.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2">
                        <div class="widget no-border m-0">
                            <div class="mt-10 mb-10 text-right flip sm-text-center">
                                <div class="font-15 text-black-333 mb-5 font-weight-600"><i
                                            class="fa fa-envelope text-theme-colored font-18"></i> Email Us Today
                                </div>
                                <a class="font-12 text-gray"> latouros@latouros.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2">
                        <div class="widget no-border m-0">
                            <div class="mt-10 mb-10 text-right flip sm-text-center">
                                <div class="font-15 text-black-333 mb-5 font-weight-600"><i
                                            class="fa fa-phone-square text-theme-colored font-18"></i> +357 22266935
                                </div>
                                <a class="font-12 text-gray">Call us for more details!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2">
                        <div class="widget no-border m-0">
                            <div class="mt-10 mb-10 text-right flip sm-text-center">
                                <div class="font-15 text-black-333 mb-5 font-weight-600"><i
                                            class="fa fa-building-o text-theme-colored font-18"></i> Mailing Address
                                </div>
                                <a class="font-12 text-gray"> P.O. Box 11112, 2551, Dali</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav">
            <div class="header-nav-wrapper navbar-scrolltofixed bg-light">
                <div class="container">
                    <nav id="menuzord" class="menuzord default bg-light">
                        <ul class="menuzord-menu">
                            <li><a href="/">Home</a></li>
                            <li class="active"><a href="/about">About Us</a></li>
                            <li><a href="/products">Products</a></li>
                            <li><a href="/facilities">Facilities</a></li>
                            <li><a href="/media">Media</a></li>
                            <li><a href="/downloads">Downloads</a></li>
                            <li><a href="/contactus">Contact Us</a></li>
                        </ul>
                        <ul class="list-inline pull-right flip hidden-sm hidden-xs">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- Start main-content -->
    <div class="main-content">
        <!-- Section: inner-header -->
        <section class="inner-header divider parallax layer-overlay" style="background-color: #faa31a">
            <div class="container pb-30">
                <!-- Section Content -->
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-12 xs-text-center">
                            <h3 class="title text-white">About us</h3>
                            <ol class="breadcrumb mt-10 white">
                                <li><a class="text-white" href="/">Home</a></li>
                                <li class="active text-white">About us</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: About  -->
        <section id="about">
            <div class="container pb-70">
                <div class="section-content">
                    <div class="row xs-text-center">
                        <div class="col-md-8">
                            <h2 class="text-uppercase mt-0 line-height-1">our <span class="text-theme-colored">Background</span>
                            </h2>
                            <p style="text-align: justify">Latomio Pyrgon Ltd produces a comprehensive range of graded diabase stone aggregates.
                                Diabase stone is a strong and versatile material and is widely used in the building and construction industry in Cyprus.</p>
                            <p style="text-align: justify">Latomio Pyrgon Ltd is operating since 1985 and throughout the years is
                                considered to be one of the major aggregates producers in Cyprus.</p>
                            <p style="text-align: justify">Our talented, skilful, dedicated, and experienced staff focus on providing top quality materials,
                                which meet the Cypriot/European Standards, aiming on fulfilling the customers’ exact needs.
                                The company uses the most innovative and efficient equipment in order to achieve and maintain its quality levels.<p>
                            <p style="text-align: justify">All our materials are quality-tested, and can be tailored to
                                our customers’ specific requirements. Our company strives to build value for society by
                                offering safe and economic products to our customers.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="item">
                                <div class="newcomer" style="padding-top: 85px">
                                    <img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/aboutus_background.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="divider parallax layer-overlay overlay-white-9" style="background-color: #BEBEBE"
                 data-parallax-ratio="0.7">
            <div class="container pb-70">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="row xs-text-center">
                            <div class="col-md-4" style="padding-left: 30px; padding-right:30px">
                                <div class="item">
                                    <div class="newcomer">
                                        <img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/aboutus_size.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8" style="padding-left: 30px; padding-right:30px">
                                <br>
                                <h2 class="text-uppercase mt-0 line-height-1">our <span
                                            class="text-theme-colored">size</span></h2>
                                <p style="text-align: justify">The overall area of the quarry is about 35 hectares
                                    and the proven diabase reserve exceeds 35 million tons.</p>
                                <p style="text-align: justify">These numbers reveal that Latomio Pyrgon Ltd will
                                    operate at high capacity levels during the 22nd century.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="divider parallax layer-overlay overlay-white-9"
                 data-bg-img="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_facility2.jpg" data-parallax-ratio="0.7">
            <div class="container pb-70">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-uppercase line-height-1 mt-0">Our <span
                                        class="text-theme-colored font-weight-800">Group</span></h2>
                            <p style="text-align: justify"><b>Aggregates are a critical market, supplier base, and
                                    source of some of people’s
                                    fundamental needs.
                                    The company’s long-standing relationship and experience with the quarrying industry
                                    dates back over 40 years.
                                    Latomio Pyrgon Ltd has a long tradition of aggregates leadership because it belongs to a large
                                    group of quarries, including: Latomia Latouros Ltd, Elmeni (Latomia) Ltd, and
                                    Latouros Gypsum Ltd.
                                    Their logos, information, and websites are provided below in respective order.
                                </b></p>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <article class="post clearfix maxwidth600 mb-30">
                                <div class="entry-header-new">
                                    <div class="post-thumb thumb">
                                        <img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/aboutus_latouros.jpg" alt="" class="img-responsive img-fullwidth">
                                    </div>
                                    <div class="blog-author"><img src="/images/latouroslogo.png" alt="" style="border: none;"></div>
                                </div>
                                <div class="text-center">
                                    <h3 class="entry-title mt-0 pt-0">Latomia Latouros Ltd</h3>
                                    <ul class="list-inline entry-date font-12 mt-5">
                                        <li><i class="fa fa-clock-o mr-5"></i> 7am - 5pm</li>
                                        <li><i class="fa fa-map-marker mr-5"></i> Larnaca, Cyprus</li>
                                    </ul>
                                    <a class="mt-0 text-theme-colored">Website Under Construction <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </article>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <article class="post clearfix maxwidth600 mb-30">
                                <div class="entry-header-new">
                                    <div class="post-thumb thumb">
                                        <img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/aboutus_elmeni.jpg" alt="" class="img-responsive img-fullwidth">
                                    </div>
                                    <div class="blog-author"><img src="/images/elmenilogo.png" alt="" style="border: none;"></div>
                                </div>
                                <div class="text-center">
                                    <h3 class="entry-title mt-0 pt-0">Elmeni (Latomia) Ltd</h3>
                                    <ul class="list-inline entry-date font-12 mt-5">
                                        <li><i class="fa fa-clock-o mr-5"></i> 7am - 5pm</li>
                                        <li><i class="fa fa-map-marker mr-5"></i> Larnaca, Cyprus</li>
                                    </ul>
                                    <a class="mt-0 text-theme-colored">Website Under Construction <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </article>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <article class="post clearfix maxwidth600 mb-30">
                                <div class="entry-header-new">
                                    <div class="post-thumb thumb">
                                        <img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/aboutus_lagypsum.jpg" alt="" class="img-responsive img-fullwidth">
                                    </div>
                                    <div class="blog-author"><img src="/images/gypsumlogo.png" alt="" style="border: none;"></div>
                                </div>
                                <div class="text-center">
                                    <h3 class="entry-title mt-0 pt-0">Latouros Gypsum Ltd</h3>
                                    <ul class="list-inline entry-date font-12 mt-5">
                                        <li><i class="fa fa-clock-o mr-5"></i> 7am - 5pm</li>
                                        <li><i class="fa fa-map-marker mr-5"></i> Larnaca, Cyprus</li>
                                    </ul>
                                    <a class="mt-0 text-theme-colored" href="http://www.latourosgypsum.com" target="_blank">Website <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- end main-content -->

    <!-- Footer -->
    <footer id="footer" class="footer" data-bg-img="images/footer-bg.png" data-bg-color="#25272e">
        <div class="container pt-30 pb-10">
            <div class="row border-bottom-black">
                <div class="col-sm-7 col-md-4">
                    <div class="widget dark">
                        <img class="mt-10 mb-20" alt="" src="images/lapyrgafooter.png">
                        <p class="mb-0">Agiou Modestou Str <br>7648 Pyrga, Cyprus
                        </p>
                        <ul class="list-inline mt-5">
                            <li class="m-0 pl-10 pr-10"><i class="fa fa-phone text-theme-colored mr-5"></i> <a
                                        class="text-gray">+357 22266935</a></li><br>
                            <li class="m-0 pl-10 pr-10"><i class="fa fa-fax text-theme-colored mr-5"></i> <a
                                        class="text-gray">+357 22266936</a></li>
                            <li class="m-0 pl-10 pr-10"><i class="fa fa-envelope-o text-theme-colored mr-5"></i> <a
                                        class="text-gray">latouros@latouros.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-7 col-md-1">
                    <div class="widget dark">
                    </div>
                </div>
                <div class="col-sm-7 col-md-6">
                    <img class="mt-10 mb-10" alt="" src="images/map.png">
                </div>
            </div>
        </div>

        <div class="footer-bottom bg-black-333">
            <div class="container pt-15 pb-10">
                <div class="row">
                    <div class="col-md-6">
                        <p class="font-11 text-black-777 m-0 sm-text-center">Copyright &copy;2018 Latouros. All Rights
                            Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

<!-- Footer Scripts -->
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- JS | jquery plugin collection for this theme -->
<script src="js/jquery-plugin-collection.js"></script>
<!-- Revolution Slider 5.x SCRIPTS -->
<script src="js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
<script src="js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
<script src="js/extra-rev-slider.js"></script>

<!-- JS | Custom script for all pages -->
<script src="js/custom.js"></script>
<script src="js/extra.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript"
        src="js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>
</body>
</html>