<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117972189-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-117972189-1');
    </script>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Λατομείο Πυργών ΛΤΔ"/>
    <meta name="robots" content="noindex, follow"/>
    <meta name="googlebot" content="noindex"/>
    <meta name="keywords" content="latouros,building,business,construction,pirga,pyrga,quarry,quarries,rock,diabase,building materials,mine,minerals,ltd,workshop,cyprus,cy,larnaca,limassol,nicosia,paphos"/>
    <title>Λατομείο Πυργών ΛΤΔ</title>
    <!-- Favicon and Touch Icons -->
    <link href="images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <!-- Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="css/animate.css" rel="stylesheet" type="text/css">
    <link href="css/css-plugin-collections.css" rel="stylesheet"/>
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-boxed.css" rel="stylesheet"/>
    <!-- CSS | Main style file -->
    <link href="css/style-main.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <!-- CSS | Theme Color -->
    <link href="css/colors/theme-skin-blue.css" rel="stylesheet" type="text/css">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
<body class="">
<div id="wrapper" class="clearfix">
    <!-- Header -->
    <header id="header" class="header">
        <div class="header-middle p-0 bg-lightest xs-text-center">
            <div class="container pt-0 pb-0">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-6">
                        <div class="widget no-border m-0">
                            <a class="menuzord-brand pull-left flip xs-pull-center mb-15" href="/"><img src="images/lapyrgaheader.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2">
                        <div class="widget no-border m-0">
                            <div class="mt-10 mb-10 text-right flip sm-text-center">
                                <div class="font-15 text-black-333 mb-5 font-weight-600"><i class="fa fa-envelope text-theme-colored font-18"></i> Email Us Today</div>
                                <a class="font-12 text-gray"> latouros@latouros.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2">
                        <div class="widget no-border m-0">
                            <div class="mt-10 mb-10 text-right flip sm-text-center">
                                <div class="font-15 text-black-333 mb-5 font-weight-600"><i class="fa fa-phone-square text-theme-colored font-18"></i> +357 22266920</div>
                                <a class="font-12 text-gray">Call us for more details!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2">
                        <div class="widget no-border m-0">
                            <div class="mt-10 mb-10 text-right flip sm-text-center">
                                <div class="font-15 text-black-333 mb-5 font-weight-600"><i class="fa fa-building-o text-theme-colored font-18"></i> Mailing Address</div>
                                <a class="font-12 text-gray">P.O. Box 11112, 2551, Dali</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav">
            <div class="header-nav-wrapper navbar-scrolltofixed bg-light">
                <div class="container">
                    <nav id="menuzord" class="menuzord default bg-light">
                        <ul class="menuzord-menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/products">Products</a></li>
                            <li><a href="/facilities">Facilities</a></li>
                            <li class="active"><a href="/media">Media</a></li>
                            <li><a href="/downloads">Downloads</a></li>
                            <li><a href="/contactus">Contact Us</a></li>
                        </ul>
                        <ul class="list-inline pull-right flip hidden-sm hidden-xs">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- Start main-content -->
    <div class="main-content">
        <!-- Section: inner-header -->
        <section class="inner-header divider parallax layer-overlay" style="background-color: #faa31a">
            <div class="container pb-30">
                <!-- Section Content -->
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-12 xs-text-center">
                            <h3 class="title text-white">Media</h3>
                            <ol class="breadcrumb mt-10 white">
                                <li><a class="text-white" href="/">Home</a></li>
                                <li class="active text-white">Media</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Gallery Grid 3 -->
        <section>
            <div class="container">
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Portfolio Filter -->
                            <div class="portfolio-filter">
                                <a href="#" class="active" data-filter="*">All</a>
                                <a href="#products" class="" data-filter=".products">Products</a>
                                <a href="#dbe" class="" data-filter=".dbe">Drilling - Blasting - Excavators</a>
                                <a href="#facility" class="" data-filter=".facility">LP Facilities</a>
                            </div>
                            <!-- End Portfolio Filter -->
                            <!-- Portfolio Gallery Grid -->
                            <div id="grid" class="gallery-isotope grid-3 gutter clearfix" style="height: 100%">
                                <!-- Portfolio Item Start -->
                                <div class="gallery-item dbe">
                                    <div class="thumb">
                                        <div class="flexslider-wrapper">
                                            <div class="flexslider">
                                                <ul class="slides">
                                                    <li><a href="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_dbe1.jpg" title=""><img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_dbe1.jpg" alt=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="overlay-shade"></div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="#"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- Portfolio Item End -->
                                <!-- Portfolio Item Start -->
                                <div class="gallery-item products">
                                    <div class="thumb">
                                        <div class="flexslider-wrapper">
                                            <div class="flexslider">
                                                <ul class="slides">
                                                    <li><a href="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_products2.jpg" title=""><img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_products2.jpg" alt=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="overlay-shade"></div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="#"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->

                                <!-- Portfolio Item Start -->
                                <div class="gallery-item facility">
                                    <div class="thumb">
                                        <div class="flexslider-wrapper">
                                            <div class="flexslider">
                                                <ul class="slides">
                                                    <li><a href="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_facility1.jpg" title=""><img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_facility1.jpg" alt=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="overlay-shade"></div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="#"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->

                                <!-- Portfolio Item Start -->
                                <div class="gallery-item products">
                                    <div class="thumb">
                                        <div class="flexslider-wrapper">
                                            <div class="flexslider">
                                                <ul class="slides">
                                                    <li><a href="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_products5.jpg" title=""><img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_products5.jpg" alt=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="overlay-shade"></div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="#"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->

                                <!-- Portfolio Item Start -->
                                <div class="gallery-item dbe">
                                    <div class="thumb">
                                        <div class="flexslider-wrapper">
                                            <div class="flexslider">
                                                <ul class="slides">
                                                    <li><a href="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_dbe2.jpg" title=""><img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_dbe2.jpg" alt=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="overlay-shade"></div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="#"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->

                                <!-- Portfolio Item Start -->
                                <div class="gallery-item dbe">
                                    <div class="thumb">
                                        <div class="flexslider-wrapper">
                                            <div class="flexslider">
                                                <ul class="slides">
                                                    <li><a href="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_dbe5.jpg" title=""><img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_dbe5.jpg" alt=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="overlay-shade"></div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="#"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->

                                <!-- Portfolio Item Start -->
                                <div class="gallery-item facility">
                                    <div class="thumb">
                                        <div class="flexslider-wrapper">
                                            <div class="flexslider">
                                                <ul class="slides">
                                                    <li><a href="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_facility2.jpg" title=""><img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_facility2.jpg" alt=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="overlay-shade"></div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="#"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->

                                <!-- Portfolio Item Start -->
                                <div class="gallery-item products">
                                    <div class="thumb">
                                        <div class="flexslider-wrapper">
                                            <div class="flexslider">
                                                <ul class="slides">
                                                    <li><a href="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_products4.jpg" title=""><img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_products4.jpg" alt=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="overlay-shade"></div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="#"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->

                                <!-- Portfolio Item Start -->
                                <div class="gallery-item facility">
                                    <div class="thumb">
                                        <div class="flexslider-wrapper">
                                            <div class="flexslider">
                                                <ul class="slides">
                                                    <li><a href="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_facility7.jpg" title=""><img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_facility7.jpg" alt=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="overlay-shade"></div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="#"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->



                                <!-- Portfolio Item Start -->
                                <div class="gallery-item facility">
                                    <div class="thumb">
                                        <div class="flexslider-wrapper">
                                            <div class="flexslider">
                                                <ul class="slides">
                                                    <li><a href="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_facility5.jpg" title=""><img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_facility5.jpg" alt=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="overlay-shade"></div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="#"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->

                                <!-- Portfolio Item Start -->
                                <div class="gallery-item facility">
                                    <div class="thumb">
                                        <div class="flexslider-wrapper">
                                            <div class="flexslider">
                                                <ul class="slides">
                                                    <li><a href="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_facility3.jpg" title=""><img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_facility3.jpg" alt=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="overlay-shade"></div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="#"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->

                                <!-- Portfolio Item Start -->
                                <div class="gallery-item products">
                                    <div class="thumb">
                                        <div class="flexslider-wrapper">
                                            <div class="flexslider">
                                                <ul class="slides">
                                                    <li><a href="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_dbe4.jpg" title=""><img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_dbe4.jpg" alt=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="overlay-shade"></div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="#"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->

                                <!-- Portfolio Item Start -->
                                <div class="gallery-item products">
                                    <div class="thumb">
                                        <div class="flexslider-wrapper">
                                            <div class="flexslider">
                                                <ul class="slides">
                                                    <li><a href="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_products1.jpg" title=""><img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_products1.jpg" alt=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="overlay-shade"></div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="#"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->

                                <!-- Portfolio Item Start -->
                                <div class="gallery-item facility">
                                    <div class="thumb">
                                        <div class="flexslider-wrapper">
                                            <div class="flexslider">
                                                <ul class="slides">
                                                    <li><a href="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_facility4.jpg" title=""><img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_facility4.jpg" alt=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="overlay-shade"></div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="#"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->

                                <!-- Portfolio Item Start -->
                                <div class="gallery-item products">
                                    <div class="thumb">
                                        <div class="flexslider-wrapper">
                                            <div class="flexslider">
                                                <ul class="slides">
                                                    <li><a href="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_products3.jpg" title=""><img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/media_products3.jpg" alt=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="overlay-shade"></div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="#"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->

                                <!-- Portfolio Item Start -->
                                <div class="gallery-item dbe" style="width: 100%;">
                                    <div class="flexslider-wrapper">
                                        <div class="flexslider">
                                            <article class="post clearfix bg-lighter" style="padding-bottom: 0px; border-bottom: none!important;">
                                                <div class="entry-header">
                                                    <div class="post-thumb">
                                                        <video width="100%" height="100%" controls>
                                                            <source src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/blastingsm.mp4" type="video/mp4">
                                                        </video>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <!-- Portfolio Item End -->

                            </div>
                            <!-- End Portfolio Gallery Grid -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- end main-content -->

    <!-- Footer -->
    <footer id="footer" class="footer" data-bg-img="images/footer-bg.png" data-bg-color="#25272e">
        <div class="container pt-70 pb-40">
            <div class="row border-bottom-black">
                <div class="col-sm-7 col-md-4">
                    <div class="widget dark">
                        <img class="mt-10 mb-20" alt="" src="images/lapyrgafooter.png">
                        <p class="mb-0">Agiou Modestou Str <br>7648 Pyrga, Cyprus
                        </p>
                        <ul class="list-inline mt-5">
                            <li class="m-0 pl-10 pr-10"><i class="fa fa-phone text-theme-colored mr-5"></i> <a
                                        class="text-gray">+357 22266935</a></li><br>
                            <li class="m-0 pl-10 pr-10"><i class="fa fa-fax text-theme-colored mr-5"></i> <a
                                        class="text-gray">+357 22266936</a></li>
                            <li class="m-0 pl-10 pr-10"><i class="fa fa-envelope-o text-theme-colored mr-5"></i> <a
                                        class="text-gray">latouros@latouros.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-7 col-md-1">
                    <div class="widget dark">
                    </div>
                </div>
                <div class="col-sm-7 col-md-6">
                    <img class="mt-10 mb-10" alt="" src="images/map.png">
                </div>
            </div>
        </div>

        <div class="footer-bottom bg-black-333">
            <div class="container pt-15 pb-10">
                <div class="row">
                    <div class="col-md-6">
                        <p class="font-11 text-black-777 m-0 sm-text-center">Copyright &copy;2018 Latouros. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

<!-- Footer Scripts -->
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- JS | jquery plugin collection for this theme -->
<script src="js/jquery-plugin-collection.js"></script>
<!-- Revolution Slider 5.x SCRIPTS -->
<script src="js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
<script src="js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
<script src="js/extra-rev-slider.js"></script>
<!-- JS | Custom script for all pages -->
<script src="js/custom.js"></script>
<script src="js/extra.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>

</body>
</html>