<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117972189-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-117972189-1');
    </script>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Λατομείο Πυργών ΛΤΔ"/>
    <meta name="robots" content="noindex, follow"/>
    <meta name="googlebot" content="noindex"/>
    <meta name="keywords" content="latouros,building,business,construction,pirga,pyrga,quarry,quarries,rock,diabase,building materials,mine,minerals,ltd,workshop,cyprus,cy,larnaca,limassol,nicosia,paphos"/>
    <title>Λατομείο Πυργών ΛΤΔ</title>
    <!-- Favicon and Touch Icons -->
    <link href="images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <!-- Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="css/animate.css" rel="stylesheet" type="text/css">
    <link href="css/css-plugin-collections.css" rel="stylesheet"/>
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-boxed.css" rel="stylesheet"/>
    <!-- CSS | Main style file -->
    <link href="css/style-main.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <!-- CSS | Theme Color -->
    <link href="css/colors/theme-skin-blue.css" rel="stylesheet" type="text/css">
    <link href="/cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
<body class="">
<div id="wrapper" class="clearfix">
    <!-- Header -->
    <header id="header" class="header">
        <div class="header-middle p-0 bg-lightest xs-text-center">
            <div class="container pt-0 pb-0">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-6">
                        <div class="widget no-border m-0">
                            <a class="menuzord-brand pull-left flip xs-pull-center mb-15" href="/"><img
                                        src="images/lapyrgaheader.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2">
                        <div class="widget no-border m-0">
                            <div class="mt-10 mb-10 text-right flip sm-text-center">
                                <div class="font-15 text-black-333 mb-5 font-weight-600"><i
                                            class="fa fa-envelope text-theme-colored font-18"></i> Email Us Today
                                </div>
                                <a class="font-12 text-gray"> latouros@latouros.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2">
                        <div class="widget no-border m-0">
                            <div class="mt-10 mb-10 text-right flip sm-text-center">
                                <div class="font-15 text-black-333 mb-5 font-weight-600"><i
                                            class="fa fa-phone-square text-theme-colored font-18"></i> +357 22266920
                                </div>
                                <a class="font-12 text-gray">Call us for more details!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2">
                        <div class="widget no-border m-0">
                            <div class="mt-10 mb-10 text-right flip sm-text-center">
                                <div class="font-15 text-black-333 mb-5 font-weight-600"><i
                                            class="fa fa-building-o text-theme-colored font-18"></i> Mailing Address
                                </div>
                                <a class="font-12 text-gray">P.O. Box 11112, 2551, Dali</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav">
            <div class="header-nav-wrapper navbar-scrolltofixed bg-light">
                <div class="container">
                    <nav id="menuzord" class="menuzord default bg-light">
                        <ul class="menuzord-menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li class="active"><a href="/products">Products</a></li>
                            <li><a href="/facilities">Facilities</a></li>
                            <li><a href="/media">Media</a></li>
                            <li><a href="/downloads">Downloads</a></li>
                            <li><a href="/contactus">Contact Us</a></li>
                        </ul>
                        <ul class="list-inline pull-right flip hidden-sm hidden-xs">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- Start main-content -->
    <div class="main-content">
        <!-- Section: inner-header -->
        <section class="inner-header divider parallax layer-overlay" style="background-color: #faa31a">
            <div class="container pb-30">
                <!-- Section Content -->
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title text-white">Products</h3>
                            <ol class="breadcrumb mt-10 white">
                                <li><a class="text-white" href="/">Home</a></li>
                                <li class="active text-white">Products</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: About  -->
        <section id="about">
            <div class="container pb-70">
                <div class="section-content">
                    <div class="row xs-text-center">
                        <div class="col-md-8">
                            <h2 class="text-uppercase mt-0 line-height-1">What <span class="text-theme-colored">Diabase is</span>
                            </h2>
                            <p style="text-align: justify">Diabase is an intrusive rock of late Cretaceous age with a
                                microcrystalline texture and basaltic
                                composition and occurs as dykes in the Sheeted Dyke Complex and the Basal Group of the
                                Troodos Ophiolite.</p>
                            <p style="text-align: justify">It is tough, compact, abrasion resistant, inert to chemical
                                and physical
                                disintegration and generally free from harmful substances.</p>
                            <p style="text-align: justify">The diabase is widely distributed within the igneous complex
                                of the
                                Troodos Ophiolite and forms a large part of the Troodos Range.</p>
                        </div>
                        <div class="col-md-4" style="padding-top: 0px">
                            <img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/products_diabase.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="divider parallax layer-overlay overlay-white-9" style="background-color: #BEBEBE"
                 data-parallax-ratio="0.7">
            <div class="container pb-70">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="row xs-text-center">
                            <div class="col-md-4" style="padding-left: 30px; padding-right:30px">
                                <div class="item">
                                    <div class="newcomer" style="padding-top: 85px">
                                        <img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/products_produce.jpg" alt="">
                                    </div>
                                    <div class="newcomer" style="padding-top: 95px">
                                        <img src="https://latomiopyrgapics.blob.core.windows.net/latomiopyrgapics/products_produce1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8" style="padding-left: 30px; padding-right:30px">
                                <br>
                                <h2 class="text-uppercase mt-0 line-height-1">What <span class="text-theme-colored">we produce</span>
                                </h2>
                                <p style="text-align: justify">Latomio Pyrgon Ltd produces all the different types of
                                    aggregates used in the building and
                                    construction industry. More specifically we produce:</p>
                                <div class="container-fluid container-fixed-lg">
                                    <div class="row">
                                        <div class="col-md-12" style="padding: 0;">
                                            <div class="panel-body" style="padding: 0; padding-top: 15px;">
                                                <div>
                                                    <table id="downloadtbl" class="table table-striped table-bordered"
                                                           cellspacing="0" width="100%" style="vertical-align: middle; margin-bottom: 0!important;">
                                                        <thead>

                                                        <tr>
                                                            <th style="width:45%">
                                                                <center>Product</center>
                                                            </th>
                                                            <th style="width:20%">
                                                                <center>Standard</center>
                                                            </th>
                                                            <th style="width:35%">
                                                                <center>Type</center>
                                                            </th>

                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <!--First row-->
                                                        <tr>
                                                            <td style="vertical-align: middle" rowspan="3">
                                                                <center>Aggregates for Concrete</center>
                                                            </td>
                                                            <td style="vertical-align: middle" rowspan="3">
                                                                <center>CYS EN 12620</center>
                                                            </td>
                                                            <td style="vertical-align: middle;">
                                                                <center>Gravel 4-10mm</center>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="vertical-align: middle;">
                                                                <center>Gravel 8-20mm</center>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="vertical-align: middle;">
                                                                <center>Sand 0-4mm</center>
                                                            </td>
                                                        </tr>

                                                        <!--Second row-->
                                                        <tr>
                                                            <td style="vertical-align: middle" rowspan="3">
                                                                <center>Aggregates for bituminous mixtures and surface treatments for roads,
                                                                    airfields and other trafficked areas</center>
                                                            </td>
                                                            <td style="vertical-align: middle" rowspan="3">
                                                                <center>CYS EN 13043</center>
                                                            </td>
                                                            <td style="vertical-align: middle;">
                                                                <center>Gravel 4-10mm</center>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="vertical-align: middle;">
                                                                <center>Gravel 8-20mm</center>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="vertical-align: middle;">
                                                                <center>Sand 0-4mm</center>
                                                            </td>
                                                        </tr>

                                                        <!--Third row-->
                                                        <tr>
                                                            <td style="vertical-align: middle">
                                                                <center>Aggregates for Mortar</center>
                                                            </td>
                                                            <td style="vertical-align: middle" >
                                                                <center>CYS EN 13139</center>
                                                            </td>
                                                            <td style="vertical-align: middle;">
                                                                <center>Sand 0-4mm</center>
                                                            </td>
                                                        </tr>

                                                        <!--Forth row-->
                                                        <tr>
                                                            <td style="vertical-align: middle" rowspan="6">
                                                                <center>Aggregates for unbound and hydraulically bound materials for use
                                                                    in civil engineering work and road construction</center>
                                                            </td>
                                                            <td style="vertical-align: middle" rowspan="6">
                                                                <center>CYS EN 13242</center>
                                                            </td>
                                                            <td style="vertical-align: middle;">
                                                                <center>All-in 0-12mm</center>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="vertical-align: middle;">
                                                                <center>All-in 0-80mm</center>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="vertical-align: middle;">
                                                                <center>Filter 40-110mm</center>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="vertical-align: middle;">
                                                                <center>All-in 0-32mm for base</center>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="vertical-align: middle;">
                                                                <center>All-in 0-32mm for sub-base</center>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="vertical-align: middle;">
                                                                <center>All-in 0-32mm for backfilling</center>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END PANEL -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- end main-content -->

    <!-- Footer -->
    <footer id="footer" class="footer" data-bg-img="images/footer-bg.png" data-bg-color="#25272e">
        <div class="container pt-70 pb-40">
            <div class="row border-bottom-black">
                <div class="col-sm-7 col-md-4">
                    <div class="widget dark">
                        <img class="mt-10 mb-20" alt="" src="images/lapyrgafooter.png">
                        <p class="mb-0">Agiou Modestou Str <br>7648 Pyrga, Cyprus
                        </p>
                        <ul class="list-inline mt-5">
                            <li class="m-0 pl-10 pr-10"><i class="fa fa-phone text-theme-colored mr-5"></i> <a
                                        class="text-gray">+357 22266935</a></li><br>
                            <li class="m-0 pl-10 pr-10"><i class="fa fa-fax text-theme-colored mr-5"></i> <a
                                        class="text-gray">+357 22266936</a></li>
                            <li class="m-0 pl-10 pr-10"><i class="fa fa-envelope-o text-theme-colored mr-5"></i> <a
                                        class="text-gray">latouros@latouros.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-7 col-md-1">
                    <div class="widget dark">
                    </div>
                </div>
                <div class="col-sm-7 col-md-6">
                    <img class="mt-10 mb-10" alt="" src="images/map.png">
                </div>
            </div>
        </div>

        <div class="footer-bottom bg-black-333">
            <div class="container pt-15 pb-10">
                <div class="row">
                    <div class="col-md-6">
                        <p class="font-11 text-black-777 m-0 sm-text-center">Copyright &copy;2018 Latouros. All Rights
                            Reserved</p>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

<!-- Footer Scripts -->
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- JS | jquery plugin collection for this theme -->
<script src="js/jquery-plugin-collection.js"></script>
<!-- Revolution Slider 5.x SCRIPTS -->
<script src="js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
<script src="js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
<script src="js/extra-rev-slider.js"></script>
<!-- JS | Custom script for all pages -->
<script src="js/custom.js"></script>
<script src="js/extra.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>

</body>
</html>